.container {
  display: flex;
  flex-direction: column;
}

.mention {
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
  opacity: 0.6;
}

.icon:hover {
  opacity: 1;
}

