.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  margin: 10px 0px;
}

.label {
  width: 80px;
  text-align: left;
  color: rgba(0,0,0,.6);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content {
  flex: 1;
}

.expression-background {
  width: 156px;
  padding: 4px;
  border-radius: 4px;
  background: rgba(24, 144, 255, 0.2);
  color: #4787f0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}