@import '~antd/dist/antd.css';

body {
  margin: 0px;
  padding: 0px;
  background-color: #edeff3;
}

._detecting {
  border: 1px dashed #197aff;
}

.ant-menu-item {
  flex: 1;
  text-align: center;
}

.ant-menu {
  display: flex;
}